@use "../../styles/mixins" as *;

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-open-sans-condensed), serif;
  padding: 0;
  @include horizontal {
    margin-bottom: 30px;
  }
  text-align: center;
}

.day {
  display: flex;

  @include horizontal {
    flex-direction: column;
  }
  --cloud-color: #0000ff;
  --moon-color: #0000ff;

  :global(.dark) & {
    --cloud-color: #4c4cff;
    --moon-color: #4c4cff;
  }
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 40%;
  @include horizontal {
    width: 100%;
  }
}

.location {
  font-size: 1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;

  letter-spacing: 0.03em;
  width: 90%;
  max-height: 10vh;
  @include horizontal {
    max-height: 6vh;
  }
}

.temperature {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0em;
  width: 80%;
  max-height: 40vh;
  @include horizontal {
    max-height: 20vh;
  }
  white-space: nowrap;
}

.description {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 2vh;
  text-transform: capitalize;
  width: 90%;
  white-space: nowrap;
}

.todayForecastTitle,
.outlookTitle {
  color: var(--accent);
  font-weight: 800;
  font-size: 0.8em;
  margin-bottom: 1.5em;
  text-shadow: -0.3px -0.3px 0 var(--accent), 0.3px -0.3px 0 var(--accent),
    -0.3px 0.3px 0 var(--accent), 0.3px 0.3px 0 var(--accent);
  @include horizontal {
    margin-bottom: 0.8em;
  }
  text-transform: uppercase;
  letter-spacing: 0.3em;
  position: relative;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: -2px;
    background: var(--accent);
    margin-top: 0.58em;
  }

  span {
    background: var(--background);
    padding: 0 0.4em;
    position: relative;
    z-index: 1;
  }
}
.details {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1.65rem;
  @include horizontal {
    width: 100%;
  }
}

.todayForecast,
.outlook {
  width: 100%;
}

.todayForecast {
  margin-bottom: 1.2em;
  @include horizontal {
    margin-bottom: 1.4em;
  }
}

.todayForecastContent {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, auto); /* Three rows */
  grid-auto-flow: column; /* Items flow vertically first, then to the next column */
  grid-auto-columns: minmax(70px, 1fr); /* Adjust column width as needed */
  //gap: 5px; /* Space between grid items */
  text-align: center;
}

.forecastTemperature {
  font-weight: 800;
}
.forecastTime {
  font-weight: 500;
}

.forecastIcon {
  width: 3em;
  margin: -0.6em;
  :global(.light) & {
    filter: brightness(0.6) contrast(2);
  }
}

.forecastIconFontAwesome {
  font-size: 1.5em;
  margin: 0.4em 0;
  --fa-secondary-opacity: 1;
}

.iconSun {
  --fa-primary-color: #ffbb00; /* yellow */
  --fa-secondary-color: #ff0000; /* red */
  :global(.dark) &,
  :global(.red-dark) & {
    --fa-primary-color: #ffd900;
    --fa-secondary-color: #ffd900;
  }
}

.iconMoon {
  --fa-primary-color: #ffbb00; /* yellow */
  --fa-secondary-color: var(--moon-color); /* blue */
  :global(.dark) &,
  :global(.red-dark) & {
    --fa-primary-color: #ffd900;
  }
}

.iconCloud {
  --fa-primary-color: var(--cloud-color); /* blue */
  --fa-secondary-color: var(--cloud-color); /* blue */
}

.iconCloudNight {
  --fa-primary-color: var(--cloud-color); /* blue */
  --fa-secondary-color: #ffbb00; /* black */
  :global(.dark) &,
  :global(.red-dark) & {
    --fa-secondary-color: #ffd900;
  }
}

.iconSunRain {
  --fa-primary-color: var(--cloud-color); /* blue */
  --fa-secondary-color: #ffbb00; /* black */
  :global(.dark) &,
  :global(.red-dark) & {
    --fa-secondary-color: #ffd900;
  }
}

.iconRain {
  --fa-primary-color: #ababff; /* blue */
  --fa-secondary-color: var(--cloud-color); /* blue */
}

.iconThunder {
  --fa-primary-color: #ffbb00; /* yellow */
  --fa-secondary-color: #000000; /* black */
  :global(.dark) &,
  :global(.red-dark) & {
    --fa-primary-color: #ffd900;
  }
}

.iconSnow {
  --fa-primary-color: #000;
  --fa-secondary-color: #000;

  :global(.dark) &,
  :global(.red-dark) & {
    --fa-primary-color: #fff;
    --fa-secondary-color: #fff;
  }
}

.iconFog {
  --fa-primary-color: #ffffff; /* white */
  --fa-secondary-color: #000000; /* black */
}

.outlookContent {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, auto); /* Three rows */
  grid-auto-flow: column; /* Items flow vertically first, then to the next column */
  grid-auto-columns: minmax(100px, 1fr); /* Adjust column width as needed */
  //gap: 10px 30px; /* Space between grid items */
  text-align: center;
}
