.dayCalendar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  -webkit-font-smoothing: none;
  font-family: var(--font-open-sans), serif;

  background: var(--background);
  color: var(--foreground);
  position: relative;
}

.dark {
  --background: #000;
  --foreground: #fff;
  --accent: #ff0000;
}

.light {
  --background: #fff;
  --foreground: #000;
  --accent: #ff0000;
}

.red-dark {
  background: #ff0000;
  color: #fff;
}

.red-light {
  background: #fff;
  color: #ff0000;
}

.updatedAt {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.9rem;
  color: var(--foreground);
  // opacity: 0.85;
  text-align: right;
}
