.upcomingMovies {
  display: flex;
  font-family: var(--font-open-sans-condensed), serif;
  background: var(--background);
  color: var(--foreground);
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  @media (orientation: portrait) {
    display: grid;

    grid-template-columns: auto auto;
    //gap: 10px;
  }
}
.dayMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  overflow: hidden;

  padding: 0.5em;

  width: 100%;
  max-height: 100vh;

  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;

  word-break: break-word;
  overflow-wrap: break-word;

  @media (orientation: portrait) {
    max-height: 50vh;
    overflow: hidden;
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
  }
}

.movieTitle {
  font-size: 1.2em;
  font-weight: bold;

  @media (orientation: portrait) {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 0;
    max-width: 80%;
    color: var(--foreground);
    span {
      display: inline;
      background: var(--background);
      box-shadow: 5px 0 0 var(--background), -10px 0 0 var(--background);

      padding-left: 0;
      padding-right: 0;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

.releaseDate {
  font-size: 0.7em;
  margin-bottom: 0px;
}

.overview {
  font-size: 0.8em;
  line-height: 1.5;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  /* allow the overview to take remaining space in the vertical flex column
    but not grow beyond its container; ensure children can shrink by
    setting min-height: 0 and hide overflow when content is larger */
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  @media (orientation: portrait) {
    display: none;
  }
}

.loading {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
}

.error {
  font-size: 1.5em;
  color: red;
  text-align: center;
  margin-top: 2em;
}
