html,
body {
  max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.dark {
  --background: #000;
  --foreground: #fff;
  --accent: #ff0000;
  --muted: rgba(244, 245, 255, 0.72);
  --card-border: #fff;
}

.light {
  --background: #fff;
  --foreground: #000;
  --accent: #ff0000;
  --muted: rgba(15, 23, 42, 0.65);
  --card-border: #000;
}

.red-dark {
  --background: #000;
  --foreground: #fff;
  --accent: #ff0000;
  --muted: rgba(244, 245, 255, 0.72);
  --card-border: #fff;
}

.red-light {
  --background: #fff;
  --foreground: #000;
  --accent: #ff0000;
  --muted: rgba(15, 23, 42, 0.65);
  --card-border: #000;
}

.green-dark {
  --background: #000;
  --foreground: #fff;
  --accent: #00ff00;
  --muted: rgba(244, 245, 255, 0.72);
  --card-border: #fff;
}

.green-light {
  --background: #fff;
  --foreground: #000;
  --accent: #00ff00;
  --muted: rgba(15, 23, 42, 0.65);
  --card-border: #000;
}

.blue-dark {
  --background: #000;
  --foreground: #fff;
  --accent: #0000ff;
  --muted: rgba(244, 245, 255, 0.72);
  --card-border: #fff;
}

.blue-light {
  --background: #fff;
  --foreground: #000;
  --accent: #0000ff;
  --muted: rgba(15, 23, 42, 0.65);
  --card-border: #000;
}

.green {
  --accent: #00ff00;
}

.blue {
  --accent: #0000ff;
}

.orange {
  --accent: #ff8000;
}

.yellow {
  --accent: #ffff00;
}

.black {
  --accent: #000;
}

.white {
  --accent: #fff;
}

.red {
  --accent: #ff0000;
}
