.dark {
  --background: #000;
  --foreground: #fff;
}

.light {
  --background: #fff;
  --foreground: #000;
}

.red-dark {
  --background: #ff0000;
  --foreground: #fff;
}

.red-light {
  --background: #fff;
  --foreground: #ff0000;
}

.dayCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5vmin 5vmin;
  background-color: var(--background);
  color: var(--foreground);
  max-width: 100%;

  font-size: 2.7em;
  -webkit-font-smoothing: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &.showQuote {
    align-items: flex-start;
  }
  &.showOnlyDate {
    align-items: center;
    justify-content: center;
  }
  // min-width: 100%;
  // text-rendering: none;
  .weekday {
    font-weight: 800;
    font-size: 2.2em;
    font-weight: 600;
    margin-top: 0;
    line-height: 1;
    max-width: 100%;
    min-height: 10vh;
    height: auto;
    text-transform: uppercase;
    font-family: var(--font-open-sans-condensed), serif;
  }
  .date {
    font-size: 1.2em;
    font-weight: 100;
    font-family: var(--font-open-sans-condensed), serif;
    position: relative;
    white-space: nowrap;
    //  overflow: hidden;
    max-width: 100%;
  }
}

.showQuote {
  .date {
    max-width: 55%;
    max-height: 20vh;

    &:before {
      content: "";
      position: absolute;
      top: -2vmin;
      left: 0;
      width: 42%;
      height: 0.1em;
      background: var(--foreground);
    }
  }
  .weekday {
    max-width: 90%;
  }
}

.showOnlyDate {
  .day {
    font-weight: 800;
    max-height: 45vh;
  }
  .month {
    font-weight: 800;
    max-width: 85vw;
    min-height: 20vh;
    flex: 1;
    // text-transform: uppercase;
    overflow: hidden;
  }
  .weekday {
    max-width: 30vw;
    font-weight: 200;
    margin-top: 10vmax;
    min-height: 20vh;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0em;
      left: -20%;
      right: -20%;
      width: 140%;
      height: 0.03em;
      background: var(--foreground);
    }
    > div {
      padding: 0.5em 0;
    }
    text-transform: none;
  }
}

.time {
  margin-top: 1em;
  font-size: 0.5em;
}

.quote {
  font-size: 1.5em;
  // font-style: italic;
  // margin-top: 2em;
  font-weight: 600;
  width: 92vw;
  height: 45vh;
  margin-bottom: 8vh;
  flex: 1;
  > div {
    padding-bottom: 2vh;
  }
  @media screen and (max-height: 500px) {
    height: 37vh;
  }
  line-height: 1;
  > span {
    display: block;
  }
  //text-wrap: balance;
  //hyphens: auto;
  // hyphenate-limit-chars: 6 4 4;
  //overflow-wrap: anywhere;
  //  hyphenate-limit-chars: auto;
}
